<tr><td>
<div>
<label style="margin-right:15px">Species Name:</label><span><em>{{sname}}</em></span><br>
<label style="margin-right:15px">Common Name:</label><span>{{vernacularname}}</span><div style="float:right"><label style="margin-right:15px">Scientific Name Authorship:</label><span>{{scientificnameauthorship}}</span></div><br>
{{kingdom}} > {{phylum}} >{{taxclass}} >{{taxorder}} >{{family}}
</div>
<br>
<div>
<table class="table table-bordered table-striped">
<tr>
    <th>Database</th>
    <th>Occurrence Count</th> 
</tr>
<tr>
    <td>Oklahoma Bird Specimen Records</td>
    <td>{{ birds }}</td>
</tr>
<tr>
    <td>Distribution of Oklahoma Amphibian and Reptiles by Recorded Sightings</td>
    <td>{{ dokarrs }}</td>
</tr>
<tr>
    <td>Oklahoma Fisheries Research Lab</td>
    <td>{{ fish }}</td>
</tr>
<tr>
    <td>Oklahoma Mammal Specimen Records</td>
    <td>{{ mammals }}</td>
</tr>
<tr>
    <td>Oklahoma Natural Heritage Inventory</td>
    <td>{{ onhi }}</td>
</tr>
<tr>
    <td>Oklahoma Vascular Plants Database</td>
    <td>{{ ovpd }}</td>
</tr>
</table>
</div>
